<div class="page-header">

  <div>

    <h2>
      {{ 'Categorii' | t }}
    </h2>

    <p>
      {{ 'Gestioneaza categoriile folosite pentru tranzactii' | t }}
    </p>

  </div>


  <button
    class="secondary-button"
    type="button"
    (click)="loadData()"
  >
    {{ 'Reincarca' | t }}
  </button>

</div>


@if (errorMessage()) {

  <div class="alert error-alert">
    {{ errorMessage() | t }}
  </div>

}


@if (successMessage()) {

  <div class="alert success-alert">
    {{ successMessage() | t }}
  </div>

}


@if (loading()) {

  <section class="card">
    {{ 'Se incarca datele...' | t }}
  </section>

} @else {

  <!-- SUMMARY -->

  <section class="summary-grid">

    <article class="summary-card">

      <span>
        {{ 'Total categorii' | t }}
      </span>

      <strong>
        {{ totalCategories() }}
      </strong>

    </article>


    <article class="summary-card">

      <span>
        {{ 'Categorii utilizate' | t }}
      </span>

      <strong class="used">
        {{ usedCategories() }}
      </strong>

    </article>


    <article class="summary-card">

      <span>
        {{ 'Categorii neutilizate' | t }}
      </span>

      <strong class="unused">
        {{ unusedCategories() }}
      </strong>

    </article>

  </section>


  <!-- FORM -->

  <section class="card">

    <h3>

      @if (
        editingCategoryId() === null
      ) {

        {{ 'Adauga categorie' | t }}

      } @else {

        {{ 'Editeaza categoria' | t }}

      }

    </h3>


    <form
      class="category-form"
      [formGroup]="categoryForm"
      (ngSubmit)="saveCategory()"
    >

      <div class="form-field">

        <label
          for="category-name"
        >
          {{ 'Numele categoriei' | t }}
        </label>

        <input
          id="category-name"
          type="text"
          formControlName="name"
          [placeholder]="'Exemplu: Transport' | t"
        />


        @if (
          categoryForm.controls
            .name.touched &&
          categoryForm.controls
            .name.invalid
        ) {

          <small>
            {{ 'Numele categoriei este obligatoriu.' | t }}
          </small>

        }

      </div>


      <div class="form-actions">

        <button
          class="primary-button"
          type="submit"
          [disabled]="saving()"
        >

          @if (saving()) {

            {{ 'Se salveaza...' | t }}

          } @else if (
            editingCategoryId() === null
          ) {

            {{ 'Adauga categoria' | t }}

          } @else {

            {{ 'Salveaza modificarea' | t }}

          }

        </button>


        @if (
          editingCategoryId() !== null
        ) {

          <button
            class="secondary-button"
            type="button"
            (click)="cancelEdit()"
          >
            {{ 'Anuleaza' | t }}
          </button>

        }

      </div>

    </form>

  </section>


  <!-- CATEGORY LIST -->

  <section class="card">

    <div class="section-header">

      <h3>
        {{ 'Lista categorii' | t }}
      </h3>

      <span>
        {{ categories().length }}
        {{ 'categorii' | t }}
      </span>

    </div>


    @if (
      categories().length === 0
    ) {

      <p>
        {{ 'Nu exista categorii.' | t }}
      </p>

    } @else {

      <div class="category-grid">

        @for (
          category of categories();
          track category.id
        ) {

          <article
            class="category-item"
          >

            <div
              class="category-info"
            >

              <strong>
                {{ category.name }}
              </strong>

              <span>

                {{
                  getTransactionCount(
                    category.id
                  )
                }}

                {{ 'tranzactii' | t }}

              </span>

            </div>


            <div
              class="category-actions"
            >

              <button
                class="edit-button"
                type="button"
                (click)="
                  startEdit(
                    category
                  )
                "
              >
                {{ 'Editeaza' | t }}
              </button>


              <button
                class="delete-button"
                type="button"
                [disabled]="
                  getTransactionCount(
                    category.id
                  ) > 0
                "
                (click)="
                  deleteCategory(
                    category
                  )
                "
              >
                {{ 'Sterge' | t }}
              </button>

            </div>

          </article>

        }

      </div>

    }

  </section>

}